.intro-paragraph {
	font-size:20px;
	text-decoration: bold;
}

#Brad-Moon {
	font-size: 1000px;

}

.work-experience-header {
	margin-bottom: 0;
}

.work-position {
	margin-bottom: 0;
}

#work-experience-header {
	border-bottom: solid 2px #e5e5e5;
}
